 * {
     margin: 0;
     padding: 0;
 }

 .logo {}

 .logo img {
     width: 145px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     cursor: pointer;
     margin: 20px;


 }

 .right ul {
     display: flex;
     gap: 20px;
 }

 .right ul li {
     list-style: none;
     display: flex;
     align-items: center;
 }

 .first {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
     margin: 73px;
     font-family: sans-serif;
 }

 .first span {
     font-size: 40px;

 }

 .first p {
     font-size: 20px;
     width: 50vw;
     text-align: center;
 }

 .btn {
     background-color: #00b6d1;
     padding: 14px 16px;
     border: none;
     border-radius: 6px;
     font-weight: 700;
     color: white;
     margin: 12px 0;
     cursor: pointer;

 }

 .green {
     background-color: #5cd585;
 }

 .small {
     font-size: 12px;
 }

 .second {
    max-width: 70vw;
    margin: auto;
     
     
     
 }

 .item{
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 15px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 34px;
 }

 .download :nth-child(2){
    font-size: 23px;
    padding: 0px 12px;

 }

 .download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
 }
 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
 }

 @media screen and (max-width: 1145px){
    .grid{
    grid-template-columns: 1fr 1fr 1fr;
 }
 }